@import '~@fluentui/react/dist/sass/References.scss';

.misPnpUoload {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}


.csv_table {
  width: 100%;
  border-collapse: collapse; // Ensures borders are shared between adjacent cells
  border: 1px solid #ddd; // Border for the entire table

  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; // Border for each cell
  }
}

#csv_table_head {
  background-color: #f0f0f0; // Background for header
}

#csv_body {
  background-color: #fff;
}

#csv_data {
  border-bottom: 1px solid #ddd;
  
  &:nth-child(odd) {
    background-color: #f9f9f9; // Lighter color for odd rows
  }
  
  &:nth-child(even) {
    background-color: #e9e9e9; // Slightly darker color for even rows
  }
}

#csv_header {
  font-weight: bold;
}
